@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Giga", serif;
}
header{
    min-height: 20%;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #309e95;
    position: relative;
}

html{
    font-size: 62.5%;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
    background-color: #2C666E;
    position: fixed;
}
nav img{
    margin-left: 20px;
}
nav span i{
    color: #fff;
    font-size: 5rem;
    cursor: pointer;
}

aside{
    background-color: #2C666E;
    width: 260px;
    height: 92.7%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    margin-top: 3.5%; /*Ajustar altura del aside*/
    transition: 0.5s;
    transform: translateX(-100%);
}
aside:hover{
    overflow-y: auto;
}
.desplegar{
    transform: translateX(0%);
}
.container{
    margin-top: 10%;
    padding: 10px 1px;
}
.container div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.container div:hover{
    background-color: #333;
}

.container div a{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu_h2{
    padding: 10px 20px;
    color: #309e95;
}
.curriculum_descarga{
    margin-top: 2.5%;
}
a{
    color: white;
}

.cambia_idioma{
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-left: 90%;
    
}

.en{
    color:#333;
    font-size: 1.5rem;
}
.es{
    color: #81e9e0;
    font-size: 1.5rem;
}

#check{
    position: relative;
    width:50px;
    height: 25px;
}

#check::before{
    content: '';
    position: absolute;
    width:50px;
    height: 25px;
    background-color: #333;
    border-radius: 25px;
}

#check::after{
    content: '';
    position: absolute;
    width:25px;
    height: 25px;
    background-color: #fff;
    border-radius: 25px;
    transition: 0.25s transform ease;
    border: 2px solid #333;
    box-sizing: border-box;
}

#check:checked::after{
    transform: translateX(25px);
    border: 2px solid #81e9e0;
}

footer{
    text-align: center;
    color: white;
    background-color: #2C666E;
    padding: 1%;
    font-size: 200%;
}

/*Index*/
.main_index{
    min-height: 70.5%;
    text-align: center;
}
.redonda{
    border-radius: 50%; /* Hace que sea un círculo */
    object-fit: cover; 
}
/*Index*/

/*Estudios*/
.main_estudios{
    min-height: 70.5%;
    text-align: center;
}

#contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Incluye padding en el ancho */
    overflow: hidden;
}

/* Carrusel de texto */
#carrutexto {
    min-width: 800px;
    min-height: 500px;
    padding: 20px;
    backdrop-filter: blur(20px);
    background-image: url(imagenes/centro.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(0px);
    color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Evita expansión por padding */
}

/* Título en carrutexto */
#carrutexto h3 {
    
    font-size: 45px;
}

#carrutexto a {
    margin-bottom: 0%;
    font-size: 25px;
}

button{
    background-color: transparent;
    border: none;
}
#iconos {
    display: flex; /* Utiliza Flexbox para alinear elementos en fila */
    justify-content: center; /* Centra horizontalmente los íconos */
    width: 10%; /* Ancho del contenedor */
    padding: 2px; /* Menos espacio interno alrededor del contenido */
    /*position: absolute; /* Hace que el contenedor de íconos esté en una posición fija */
    bottom: 3px; /* Lo fija a 20px del fondo de la pantalla */
    background-color: white;
    margin-left: 46%;
    border-radius: 15px;
}
/*Estudios*/

/*Caracteristicas*/
.main_caracteristicas{
    min-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
    gap: 15px;
    width: 90%;
    max-width: 900px;
}

.cuadro {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s;
    
}

.cuadro img {
    width: 47%;
    height: 190px;
    object-fit: cover;
    margin-top: 10px;
}

.cuadro p {
    padding: 10px;
    font-size: 16px;
}

.cuadro:hover {
    transform: scale(1.05);
    background: #6c7e67d2;
    color: white;
}
/*Caracteristicas*/

/*Proyectos*/
.main_produyectos{
    min-height: 70.5%;
    text-align: center;
}

/*Proyectos*/